#outer {
  margin: auto;
  background: #000000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 5000;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

#middle {
  height: 60px;
  width: 60px;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, transparent 50%, #a6adb3 50%), linear-gradient(90deg, #a0abb4 50%, white 50%);
  -webkit-animation: rotation 1200ms infinite linear;
  transform-origin: 50% 50%;
  animation-timing-function: ease;
}

#inner {
  background: #000000;
  height: 48px;
  width: 48px;
  margin: auto;
  position: relative;
  top: 6px;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}